 <div class="mx-auto grid grid-cols-1 gap-x-8 lg:gap-x-12 gap-y-8 lg:gap-y-12 lg:mx-0 lg:max-w-none lg:grid-cols-3">
  {% for announcement in announcements.items %}
  <article class="rounded-2xl bg-slate-50 dark:bg-slate-800 p-6 md:p-10 flex max-w-xl flex-col items-start justify-start not-prose gap-y-3 md:gap-y-4 relative">
      {% if announcement.category %}
      <span class="relative md:absolute md:top-3 md:right-3 text-xs rounded-full bg-brand-red/10 px-3 py-1.5 font-medium text-brand-red dark:bg-brand-yellow/10 dark:text-brand-yellow">{{ announcement.category }}</span>
      {% endif %}
    <h3 class="md:mt-2 font-sans font-semibold leading-normal text-xl lg:text-2xl">{{ announcement.title }}</h3>
    <p class="text-sm opacity-80"><time datetime="{{announcement.date}}">{{announcement.date | readableDate}}</time> by {{announcement.author}}</p>
    <p class="text-base lg:text-lg leading-relaxed">{{ announcement.description }}</p>
  </article>
  {% endfor %}
</div>
