 <div class="grid grid-cols-1 gap-x-8 lg:gap-x-12 gap-y-8 lg:gap-y-12 lg:max-w-none lg:grid-cols-3">
  {% for announcement in announcements.items %}
  <article class="rounded-2xl bg-slate-50 dark:bg-slate-800 p-4 md:p-6 lg:p-8 flex max-w-xl flex-col items-start justify-start gap-y-3 md:gap-y-4">
      {% if announcement.category %}
      {% endif %}
    <h3 class="!font-sans !font-semibold !leading-normal !text-xl !lg:text-2xl !my-0">{{ announcement.title }}</h3>
    <div class="not-prose flex flex-wrap items-center w-full gap-x-4 gap-y-2">
    <p class="text-sm opacity-80"><time datetime="{{announcement.date}}">{{announcement.date}}</time> by {{announcement.author}}</p>
      <span class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset ring-brand-red/50 bg-brand-red/5 text-brand-red dark:ring-brand-yellow/50 dark:bg-brand-yellow/5 dark:text-brand-yellow">{{ announcement.category }}</span>
     </div>
     <div class="text-base lg:text-lg leading-relaxed my-0">{{ announcement.description | markdown | safe }}</div>
  </article>
  {% endfor %}
</div>
