<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <!-- fonts -->
    <link rel="stylesheet" href="/inter/inter.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
  <body x-data="{ isOpen: false }" class="h-full min-h-screen grid bg-white dark:bg-slate-900 overflow-x-hidden" :class="isOpen ? 'overflow-hidden' : ''">
    <main x-data class="h-full w-full mx-auto max-w-7xl pb-12 prose prose-lg xl:prose-xl prose-slate dark:prose-invert prose-headings:font-display prose-headings:font-normal prose-a:text-brand-red dark:prose-a:text-brand-yellow">
      {% include "header.html" %}
      <section class="mx-auto block max-w-7xl w-full px-4 md:px-8">
        {{ content | safe }}
      </section>
    </main>

    {% include "footer.html" %}

    <script src="/static/js/alpine.js"></script>
    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </body>
</html>
