{% if header_image == null %}
<div class="not-prose w-screen left-1/2 right-1/2 -ml-[50vw] -mr-[50-vw] relative pb-24 sm:pb-32 inset-0 z-10">
  <div class="absolute inset-0 transform -skew-y-3 origin-top-left bg-gradient-to-tr from-brand-blue to-brand-red via-brand-blue"></div>
{% else %}
<div class="not-prose w-screen left-1/2 right-1/2 -ml-[50vw] -mr-[50-vw] relative pb-24 sm:pb-32 inset-0 bg-cover" style="--bg-image: url({{header_image}}); background-image: linear-gradient(to bottom right, hsl(217 73% 16% / 85%) 50%, hsl(340 100% 50% / 85%)), var(--bg-image); background-position: center, center">
{% endif %}
    
  <div class="mb-16 sm:mb-24 lg:mb-32 z-10 relative">
    {% include "navbar.html" %}
  </div>

  <div class="mx-auto max-w-7xl px-4 md:px-8 z-1 relative">
    <div class="max-w-2xl">
      <h1 class="font-display font-normal text-6xl text-white sm:text-7xl">{{title}}</h1>
      {% if path == "home" %}
      <p class="mt-6 text-lg leading-8 text-slate-300">{{ homepage.welcome_message }}</p>
      {% elif subtitle != null %}
      <p class="mt-6 text-lg leading-8 text-slate-300">{{subtitle}}</p>
      {% endif %}
    </div>
  </div>
</div>

