<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <!-- fonts -->
    <link rel="stylesheet" href="/inter/inter.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
  <body class="h-full min-h-screen bg-white dark:bg-gray-900">

    <main class="h-full w-full mx-auto max-w-7xl px-4 pt-8 pb-12 prose prose-lg xl:prose-2xl prose-gray dark:prose-invert prose-headings:font-display prose-headings:font-normal prose-a:text-brand-red dark:prose-a:text-brand-yellow">
    {{ content | safe }}
    </main>

    {% include "footer.html" %}

    <script src="/static/js/alpine.js"></script>
  </body>
</html>

